<div class="description">
    <div>Foto de perfil</div>
    <div>
        <input type="url" name="avatarUrl" placeholder="http://" value="{{ teacher.avatarUrl }}">
    </div>
</div>

<div class="description">
    <div>Nome completo</div>
    <div>
        <input type="text" name="name" placeholder="Digite o nome aqui" value="{{ teacher.name }}">
    </div>
</div>

<div class="description">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ teacher.birth }}">
    </div>
</div>

<div class="description">
    <div>Sexo</div>
    <div>

        <span class="radio"><input type="radio" name="gender" value="M"
        {% if teacher.gender == "M" %}
        checked
        {% endif %}>Masculino</span>
        <span class="radio"><input type="radio" name="gender" value="F"
        {% if teacher.gender == "F" %}
        checked
        {% endif %}>Feminino</span>
        <span class="radio"><input type="radio" name="gender" value="NB"
        {% if teacher.gender == "NB" %}
        checked
        {% endif %}>Não Binário</span>

    </div>
</div>

<div class="description">
    <div>Grau de escolaridade</div>
    <div>
        <select class="selectRole" name="graduation">
            <option value="ensinoMedio">Ensino Médio Completo</option>
            <option value="ensinoSuperior">Ensino Superior Completo</option>
            <option value="mestrado">Mestrado</option>
            <option value="doutorado">Doutorado</option>
        </select>
    </div>
</div>

<div class="description">
    <div>Tipo de aula</div>
    <div>
        <span class="radio"><input type="radio" name="teachingMethod" value="attending"
        {% if teacher.teachingMethod == "attending" %}
        checked
        {% endif %}>Presencial</span>
        <span class="radio"><input type="radio" name="teachingMethod" value="distance"
        {% if teacher.teachingMethod == "distance" %}
        checked
        {% endif %}>EAD</span>
    </div>
</div>

<div class="description">
    <div>Disciplinas</div>
    <div>
        <input type="text" name="services" placeholder="Digite as disciplinas, separadas por virgula." value="{{ teacher.services }}">
    </div>
</div>
