<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" href="/styles/commum.css">
        {% block styles %}{% endblock styles %}

        {% block title %}
            <title>My class</title>
        {% endblock title %}

    </head>

    <body>

        <header>
            <div class="links">
                <a href="/teachers">Professores</a>
                <a href="/students">Alunos</a>
            </div>
        </header>

        {% block content%}{% endblock content %}

        {% block modal %}{% endblock modal %}

        <script src="/scripts/menu.js"></script>
        {% block scripts %}{% endblock scripts %}

    </body>

</html>
