{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/styles.css">
{% endblock styles %}

{% block title %}
    <title>Cadastrar aluno(a) - My Class</title>
{% endblock title %}

{% block content %}
    <form class="card" method="POST" action="/students">

        <section class="avatar"></section>

        <section class="details">

            <h3>Novo(a) aluno(a)</h3>

            {% include "partials/student-fields.njk" %}

            <button type="submit">Cadastrar</button>

        </section>

    </form>
{% endblock content %}
