{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/styles.css">
{% endblock styles %}

{% block title %}
    <title>Professor - My Class</title>
{% endblock title %}

{% block content %}
    <div class="card table-container">
        <a href="/students/create">Novo Aluno</a>
        <table width="100%">

            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Email</th>
                    <th>Ano Escolar</th>
                    <th>Carga Horária</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>

                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatarUrl }})"></span>
                            {{ student.name }}
                        </td>

                        <td>
                            {{ student.email }}
                        </td>

                        <td>
                            {{ student.grade }}
                        </td>

                        <td>
                            <span id="workload">
                                {{ student.workload }}
                            </span>
                        </td>

                        <td>
                            <a id="show" href="/students/{{ student.id }}">Ver</a>
                        </td>

                    </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>
{% endblock content %}
