/* global variables */
:root {
    --color-label: rgb(245, 229, 90);
    --color-titles-dark-blue: #086972;
    --color-light-blue: #01a9b4;
}

/* card general style */
.card {
    background-color: #fff;
    width: 70%;
    min-height: 30%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 4% auto;
    border-radius: 16px;
    box-shadow: 2px 4px 6px -2px rgba(0, 0, 0, 0.3);
    animation: up 400ms ease;
}

/* animations */
@keyframes up {
from {
    opacity: 0;
    transform: translateY(16px);
}
to {
    opacity: 1;
}
}

/* card box styles*/
.card .avatar {
    background: url("https://source.unsplash.com/collection/8874679/") no-repeat center center / cover;
    border-radius: 16px 0 0 16px;
}

.card .details {
    padding: 32px;
}

.details h3 {
    text-transform: uppercase;
    color: var(--color-titles-dark-blue);
    font-weight: bold;
}

.details .description {
    padding: 8px 0;
}

.details .description div:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.details .description div:nth-child(1) {
    color: #777;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.details .description div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details .description span,
#method,
#services,
#workload {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 8px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    background-color: var(--color-dark);
    border-radius: 16px;
    font-size: 14px;
}

#email {
    text-transform: lowercase;
}

.details .description span + span {
    margin-left: 4px;
}

.details .description div.started {
    color: var(--color-titles-dark-blue);
}

/* form */

form input {
    width: 100%;
    color: #555;
    font-weight: bold;
    font-size: 16px;
    outline: none;
}

form input[type="radio"] {
    width: initial;
    margin-right: 8px;
}

form select.selectRole {
    padding: 8px 32px;
    background-color: var(--color-dark);
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.description span.radio,
#services {
    background-color: var(--color-titles-dark-blue);
}

form input::placeholder {
    font-weight: normal;
    font-size: 18px;
}

button[type="submit"],
a.button {
    margin-top: 32px;
    width: 100%;
    padding: 16px 0;
    background-color: var(--color-light-blue);
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

a.button:hover,
button[type="submit"]:hover {
    cursor: pointer;
}

.submit-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.submit-buttons button:last-child {
    background-color: rgb(250, 74, 74);
}

/* === Teachers === */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px 0;
    border-bottom: 1px solid #d9d9d9;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--color-titles-dark-blue);
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    align-items: center;
}

tbody tr td:first-child span {
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 4px 2px 6px -4px black;
}

#show, .table-container > a {
    text-decoration: none;
    color: #FFF;
    background-color: var(--color-light-blue);
    padding: 8px 16px;
    border-radius: 8px;
}

.table-container > a  {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

