
{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/teachers.css">
{% endblock styles %}

{% block title %}
    <title>Editar professor(a) - My Class</title>
{% endblock title %}

{% block content %}

<div class="card">

    <section class="avatar" style="background: url({{ teacher.avatarUrl }}) no-repeat center center / cover"></section>

    <section class="details">

        <form method="POST" action="/teachers?_method=PUT">

            <h3>Editar Professor(a)</h3>

            {% include "partials/teacher-fields.njk" %}

            <button type="submit">Salvar</button>
            <input type="hidden" name="id" value="{{ teacher.id }}">

        </form>

    </section>

</div>

{% endblock content %}
