{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/teachers.css">
{% endblock styles %}

{% block title %}
    <title>Professor - My Class</title>
{% endblock title %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>

        <section class="details">

            <h3>Detalhes</h3>

            <div class="description">
                <div>Professora</div>
                <div>Katia Rodrigues</div>
            </div>

            <div class="description">
                <div>Idade</div>
                <div>27 anos</div>
            </div>

            <div class="description">
                <div>Grau de escolaridade</div>
                <div>Pós Graduada</div>
            </div>

            <div class="description">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>

            <div class="description">
                <div>Acompanhamento</div>
                <div>
                    <span>Matemática</span>
                    <span>Física</span>
                    <span>Química</span>
                </div>
            </div>

            <div class="description">
                <div>Ministra desde</div>
                <div class="started">01/01/2015</div>
            </div>

        </section>
    </div>
{% endblock content %}
